nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex; /* Agregamos una propiedad flex para que los elementos se distribuyan horizontalmente */
}

nav ul li {
  flex-grow: 1; /* Hacemos que cada elemento li crezca para ocupar el espacio disponible */
  position: relative;
}

nav ul li a {
  display: block;
  padding: 10px;
  text-decoration: none;
}

nav ul li ul {
  display: none;
  position: absolute;
  background-color: #fff;
  top: 100%;
  left: 0;
  width: 100%; /* Hacemos que el submenú ocupe todo el ancho del menú principal */
}

nav ul li:hover ul {
  display: block;
}

nav ul li ul li {
  display: block;
}